:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #222222;
  color: #ffffff;

  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

main {
  max-width: 20rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}

svg {
  align-self: center;
}

#path6 {
  transition-property: fill;
  transition-duration: 500ms;
}

#stop7,
#stop8 {
  transition-property: stop-color;
  transition-duration: 500ms;
}

.sliders {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 1rem;
}

.sliders label {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  align-self: center;
}

p {
  text-align: center;
}
